<div class="jumbotron center">

	<h1>Welcome to my app</h1>
	<h2>We hopes you are feeling the welcome</h2>
	<% if user_signed_in? %>
	 <!-- do something -->

	 <% else %>

		<p>Click to 
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-info btn-lg" %> or 
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %></p>

	<% end -%>
</div>
