<div class="jumbotron center">

	<h1>Bowline Investments</h1>
	<h2>Private Cayman Fund Manager</h2>

	<p>Bowline is an Exempt fund manager incorporated in the Cayman Islands.</p>

	<p>If you would like to know more about our approach and services, please email <a href="mailto:info@frontshore.com?subject=Bowline Enquiry">Bowline</a> here.</p> 

	<% if user_signed_in? %>
	 <!-- do something -->

	 <% else %>

		<p>Click to 
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %></p>

	<% end -%>
</div>
